@import "tailwindcss";

body {
  background-color: #0c0a09;
  color: #e7e5e4;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1c1917;
}

::-webkit-scrollbar-thumb {
  background: #44403c;
}

::-webkit-scrollbar-thumb:hover {
  background: #57534e;
}

.font-sans {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.font-serif {
  font-family: "Playfair Display", ui-serif, Georgia, "Times New Roman", serif;
}

