.embla {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.embla__container {
  display: flex;
  touch-action: pan-x;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: var(--slide-spacing);
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Native scroll viewport */
.embla__viewport {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.embla__viewport::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
